<div  >
    <h3 ><%=flight.id%></h3>
    <h3 ><%=Airport.find(flight.departure_airport_id).code%></h3>
    <h3><%=Airport.find(flight.arrival_airport_id).code%></h3>
    <h5 ><%=flight.departure_date%></h5>
</div>